{% extends "admin/layout.html.twig" %}

{% block admin_content %}
      <div class="row">
        <div class="col-lg-6 col-md-offset-3">
          <p>Veuillez choisir ou créer une référence de transformateur dans la barre d'administration.</p>
        </div> <!-- span -->
      </div><!-- row -->

{% endblock %}
